.snake-board {
    position: relative;
    display: inline-block;
}

.snake-board .preview {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.3;
    background-color: gray;
}

.snake-board .score {
    font-size: 200%;
    color: blue;
    position: absolute;
    top: 10%;
    left: 0;
    text-align: center;
    width: 100%;
    display: none;
}

.snake-board button {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 30%;
    height: 10%;
    margin-left: -15%;
    margin-top: -5%;
    font-size: 100%;
    background-color: goldenrod;
    border: 1px solid darkorchid;
    border-radius: 100%;
}

.snake-board button:hover {
    background-color: dodgerblue;
    cursor: pointer;
}

.snake-board table {
    border-collapse: collapse;
}

.snake-board td {
    width: 30px;
    height: 30px;
    border: 0;
}

.snake-board .col {
    background-color: crimson;
}

.snake-board .snake {
    background-color: indigo;
}

.snake-board .fruit {
    /* background-color: gold; */
    background-image: url("https://media.giphy.com/media/Phv0mZli5ascE/source.gif");
}